{% extends "base_generic.html" %}
{% block content %}
<div class="flex-center">
    <div class="unit-1-2 unit-1-on-mobile">
        <h3>Reset password</h3>
        <form class="form" action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                    <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block" value="Reset password">Submit</button>
        </form>
    </div>
</div>
<!-- <form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form> -->

{% endblock %}