<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% block title %}<title>City Public Library</title>{% endblock %}
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <style>
        .nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 11%;
            background-color: #f1f1f1;
            height: 100%;
            /* Full height */
            position: fixed;
            /* Make it stick, even on scroll */
            overflow: auto;
            /* Enable scrolling if the sidenav has too much content */
        }

        li a {
            display: block;
            color: #000;
            padding: 10px 20px;
            text-decoration: none;
        }

        li a:hover {
            width: 100%;
            background-color: rgb(192, 192, 192);
            color: rgb(255, 255, 255);
        }

        .active {
            width: 100%;
            background-color: #4CAF50;
            color: white;
        }
    </style>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar sticky-top bg-secondary">
        <a href="{% url 'index' %}" class="navbar-brand mr-0 mr-md-2 text-white">City Public Library</a>
        <div class="navbar-nav-scroll">
            {% if messages %}
            <div>
                <ul>
                    {% for message in messages %}
                    &raquo; &raquo; &nbsp; &nbsp;<ins class="text-danger">{{message}}</ins>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            {% if perms.catalog.can_mark_returned %}
            <li>
                <strong>
                    Librarian
                </strong>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="btn-bd-download  d-lg-inline-block mb-6 mb-md-0 ml-md-5">
                <strong>
                    {{ user.get_username }}
                </strong>
            </li>
            <li class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                <a href="{% url 'user-detail' user.id %}?next={{request.path}}" class="text-white">My Account</a>
            </li>
            <li class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                <a href="{% url 'account_logout'%}?next={{request.path}}" class="text-white" s>Logout</a>
            </li>
            {% else %}
            <li class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                <a href="{% url 'account_login'%}?next={{request.path}}" class="text-white">Login</a>
            </li>
            <li class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">
                <a href="{% url 'account_signup' %}?next={{request.path}}">Sign up</a>
            </li>
            {% endif %}
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <div class="nav">
                    <ul class="sidebar-nav">
                        <li><a href="{% url 'books' %}">All books</a></li>
                        <li><a href="{% url 'authors' %}">All authors</a></li>
                        <br>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'my-borrowed' %}">My borrowed</a></li>
                        {% endif %}
                        <br>
                        {% if perms.catalog.can_mark_returned %}
                        <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
                        <li><a href="{% url 'bookinstances' %}">All book instances</a></li>
                        <br>
                        <li><a href="{% url 'book_create' %}">Add book</a></li>
                        <li><a href="{% url 'author_create' %}">Add author</a></li>
                        <br>
                        <li><a href="{% url 'books' %}?del=y">Books in ashcan</a></li>
                        <li><a href="{% url 'authors' %}?del=y">Author in ashcan</a></li>
                        {% endif%}
                    </ul>
                </div>
                {% endblock %}
            </div>
            <div class="col-sm-10 ">
                {% block content %} default content {% endblock %}
                {% block pagination %}
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. Total:
                            {{ page_obj.paginator.count }}
                        </span>
                        {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>