{% extends "base_generic.html" %}

{% block content %}

<div data-target="readme-toc.content" class="Box-body px-5 pb-5">
    <article class="markdown-body entry-content container-lg" itemprop="text">
        <h1><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                </path>
            </svg>Django Public Library</h1>
        <p>"Public Library" prototype website written in Django by <a href="mailto:liubing009@gmail.com">Jeff</a></p>
        <h2><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                </path>
            </svg>Introduction</h2>
        <p>This web application creates an online catalog for a small public library, where users can browse available
            books and manage their accounts.</p>
        <p>The main functions that have currently been implemented are:</p>
        <ul>
            <li>Anonymous user can browse books and authors info including list and detail.</li>
            <li>There are three roles which are member, librarian, and admin.</li>
            <li>User can use their username, email, cardNo login system.</li>
            <li>It supports third party login like Github account.</li>
            <li>Library member can lend book instances if the book instance is the available status.</li>
            <li>Librarian can renew book lending for member.</li>
            <li>Librarian can add, update, and delete book, bookinstance, author and there are some business logic in
                it:
                <ul>
                    <li>deletion actions are separated to fake deletion and real deletion. first time deletion is fake,
                        second time is real</li>
                    <li>can't delete book instance when it is 'on loan' by someone</li>
                    <li>when adding a book from the author detail page, it has author info automated</li>
                    <li>when 'fake' delete an author, the book detail info page can display the author's name but can't
                        hyperlink to them</li>
                    <li>when an author is real deleted, the book detail page can add a new author and automated
                        associate the book</li>
                </ul>
            </li>
            <li>Admin users are responsible for managing who are librarians.</li>
        </ul>
        <h2><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                </path>
            </svg>Expirement Account</h2>
        <p>Librarian account: admin. &nbsp;&nbsp; Its password is 'AAAddd123'.</p>
        <p>Please register member account by yourself. You can register or use Github account.</p>
        <p>Have a fun!</p>
    </article>
</div>
{% endblock %}