{% extends "base_generic.html" %}

{% block content %}
<h1>{% if all %}All{% else %}My{% endif %} Borrowed Books</h1>

{% if bookinstance_list %}
<ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Book Name</td>
        <td>Due date</td>
        {% if all %}
        <td>Borrower</td>
        <td>Imprint</td>
        {% endif %}
        {% if perms.catalog.can_renew %}
        <td>Operate</td>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for bookinst in bookinstance_list %}
      <tr class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
        <td>{{ bookinst.due_back }}</td>

        {% if all %}
        <td>{{ bookinst.borrower }}</td>
        <td>{{ bookinst.imprint }}</td>
        {% endif %}
        {% if perms.catalog.can_renew %}
        <td><a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a></td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
</ul>

{% else %}
<p>There are no books borrowed.</p>
{% endif %}
{% endblock %}