{% extends "base_generic.html" %}

{% block content %}

<h1>{% if admin %}Deleted {% endif %}Book List</h1>

{% if book_list %}
<ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Book Name</td>
        <td>Genre</td>
        <td>Language</td>
        <td>Summary</td>
        <td>Author</td>
        {% if perms.catalog.can_mark_returned and admin %}
        <td>Operate</td>
        {% endif %}
      </tr>
    </thead>
    {% for book in book_list %}
    <tr>
      <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
      <td>{{ book.display_genre }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.summary | truncatewords:10 }}</td>
      <td>{{book.author}}</td>

      {% if book.deleted_at %}
      <td>
        <a href="{% url 'restore' book.id %}?obj=book">
          <font size="-1">Restore</font>
        </a>
        &nbsp; &nbsp; &nbsp; <a href="{% url 'book_delete' book.id %}">
          <font size="-1">Destroy</font>
        </a>
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}