{% extends "base_generic.html" %}

{% block content %}
<h1>Book Name: {{ book.title }}</h1>

<p><strong>Author:</strong>
  {% if book.author %}
  {% if not book.author.deleted_at %}
  <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a>
  {% else %}
  {{ book.author }}
  {% endif %}
  {% else %}unkwown
  {% if perms.catalog.can_mark_returned %}
  <font size="-2"><a href="{% url 'author_create' %}?book={{book.id}}">Add Author</a></font>
  {% endif %}
  {% endif %}
</p>
<p><strong>Summary:</strong> {{ book.summary }}</p>
<p><strong>ISBN:</strong> {{ book.isbn }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>
<p><strong>Genre:</strong>
  {% for genre in book.genre.all %}
  {{ genre }}
  {% if not forloop.last %}
  ,
  {% endif %}
  {% endfor %}</p>
{% if book.cover %}
<div class="container">
  <p><img src="{{ book.cover.url }}" class="img-responsive" /></p>
</div>
{% endif %}
<hr>
{% if perms.catalog.can_mark_returned %}
<p><a href="{% url 'book_update' object.id %}">Update info</a> &nbsp; &nbsp;
  &nbsp; &nbsp; <a href="{% url 'common_delete' object.id %}?del=book">Delete</a></p>
<hr><br>
<p><a href="{% url 'bookinstance_create'%}?book={{object.id}}">Add bookinstance</a></p>
{% endif %}
<div style="margin-left:20px;margin-top:20px">
  {% if bookinstance_set %}
  <h4>Copies</h4>
  <!-- {{ warn }} -->
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Imprint</td>
        <td>ID</td>
        <td>Status</td>
        <td>Due to be returned</td>
        {% if user.is_authenticated %}
        <td>Operate</td>
        {% endif %}
        {% if perms.catalog.can_mark_returned %}
        <td>Borrower</td>
        <td>Manage</td>
        {% endif %}
      </tr>
    </thead>
    {% for copy in bookinstance_set.all %}
    <tr>
      <td>{{ copy.imprint }}</td>
      <td>{{ copy.id }}</td>
      <td class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}</td>
      <td>{{ copy.due_back }}</td>
      {% if user.is_authenticated %}
      {% if copy.status == 'a' %}
      <td><a href="{% url 'lend-book' copy.id %}">Lend book</a></td>
      {% else %}
      <td>Can't lend now</td>
      {% endif %}
      {% endif %}
      {% if perms.catalog.can_mark_returned %}
      <td>{% if copy.borrower %} {{ copy.borrower }} {% endif %}</td>
      <td><a href="{% url 'bookinstance_update' copy.id %}">Update info</a>&nbsp; &nbsp;
        &nbsp; &nbsp; <a href="{% url 'common_delete2' copy.id %}?del=bookinstance&book={{book.id}}">Delete</a></td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}